* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 593px;
  padding: 0 20px;
}

label {
  line-height: 100%;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

input[list] {
  width: 100%;
  height: 56px;
  padding: 0 20px;
  font-size: 15px;
  color: #333;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #F9F9F9;
}

input[list]:focus {
  box-shadow: 0 0 0 2px #b598ff;
}

input::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}

.arrow {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%) scaleX(2.5);
  color: #b3b3b3;
  pointer-events: none;
  transition: color 0.2s;
}

.input-wrapper:hover .arrow {
  color: #5e4cf1;
}
